<div id="infirmier-container">
  <div id="infirmier" *ngFor="let infirmier of getInfirmiers()">
    <app-infirmier (messageAffectation)="receiveAffectation($event)" [infirmier] = infirmier></app-infirmier>
  </div>
</div>


<mat-card class="patients-non-affecte" alx-dropzone (alx-ondrop)="desafecter($event)">
  <mat-card-header>
    <mat-card-title>Patients non affectés</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-accordion>
        <app-patient [patient] = patient *ngFor="let patient of getPatientNonAffecteList()"></app-patient>
      </mat-accordion>
  </mat-card-content>
</mat-card>
<app-ajout-patient (messageAjout)="ajoutPatient($event)"></app-ajout-patient>

<mat-card id="map">
  <mat-card-content>
    <agm-map [latitude]="getCabinetLat()" [longitude]="getCabinetLng()" (mapReady)="mapReady($event)">
      <agm-marker [latitude]  = "getCabinetLat()"
                  [longitude] = "getCabinetLng()"
                  iconUrl    = "/data/hospital-icon.png"
      >
      </agm-marker>

      <agm-marker *ngFor      = "let nurse of getInfirmiers()"
                  [latitude]  = "nurse.adresse.lat"
                  [longitude] = "nurse.adresse.lng"
                  iconUrl    = "https://d1nhio0ox7pgb.cloudfront.net/_img/v_collection_png/48x48/shadow/nurse.png"
      >
      </agm-marker>

      <agm-marker *ngFor      = "let patient of getPatients()"
                  [latitude]  = "patient.adresse.lat"
                  [longitude] = "patient.adresse.lng">
      </agm-marker>
    </agm-map>
  </mat-card-content>
</mat-card>
